.signinbox {
  background-color: rgb(254, 225, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: absolute;
}

.form-control,
.form-control_border {
  display: flex;
  flex-direction: column;
  align-self: center;

}

.name,
.password {
  all: unset;
  background-color: white;
  position: relative;
  width: 320px;
  height: 45px;
  z-index: 4;
  border-radius: 1px;
  padding: 2px;
  color: #8c8c8c;
  font-family: "Noto Sans", sans-serif;
  
  border: 1px solid rgb(230, 230, 230);
}

.input:valid {
  padding-left: 20px;
}

input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  /* padding: 15px; */
  font-weight: 100;
  color: rgb(140, 140, 140);
}
.signinbutton {
  all: unset;
  background-color: rgb(241, 239, 237);
  color: #8c8c8c;
  border-radius: 1px;
  width: 341px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  font-size: 17px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;

  margin-top: 10px;
  cursor: pointer;

  border: 1px solid rgb(207, 207, 207);
}

.signinbutton:hover{
  background-color: rgb(56,30,31);
  color: white;
}



.form {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.back{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 6%;
}

.back > img {
  width: 200px;
  height: 195px;
  transition: transform 0.8s ease;
  margin-bottom: 13px;
}

.rule {
  display: flex;
  flex-direction: row;
  
  margin-left: 595px;
  margin-top: 10px;
}

.rule > h4 {
  all: unset;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 14px;
  margin-left: 8px;
  color: #757575;
}

input[type="checkbox"]:checked +label {
  border: 2px solid white;
}

.login__footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868686;
  font-size: 13px;
  margin-top: 10%;

}