

.sidebar__tool {
  position: absolute;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 5vw;
  
  justify-content: space-between;
}

.topicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.topicon > img{
  width: 41px;
  padding-top: 20px;
}

.bottomicon{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bottomicon >img{
  width: 32px;
  padding-top: 20px;
}

.circle{
  position: relative;
  width: 32px;
  height:20px;
  border-radius: 41%;
  background-color: red;
  color: white;
  font-size: 13px;
  text-align: center;
  font-weight: bolder;
  top:35px;
  left: 18px;
}


.circle2{
  position: relative;
  width: 18px;
  height:18px;
  border-radius: 100%;
  background-color: red;
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  top:35px;
  left: 19px;
}

.speech,
.profile{
  width: 41px;
  margin-top: 16px;
}

.profile{
  z-index: 33;
}